<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thanesh.airapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".About"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Document"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Readings"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Home"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Registration"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.thanesh.airapp.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>